#top {
  width: 1190px;
  padding: 30px 0;
  margin: 0 auto;
  background: red; }

#plist .product {
  width: 1190px;
  margin: 0 auto; }
  #plist .product li {
    float: left;
    height: 56px;
    line-height: 56px;
    margin-right: 30px; }
